# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Ignorar node_modules nas pastas api e front-end
api/node_modules/
client/node_modules/

# Ignorar arquivos .env
*.env

